body{
    background-color:#252525;
}


button{
    margin-top: 350px;
    margin-left: 700px;
width: 400px;
height: 200px;
font-family: Georgia, serif;
font-size: 45px;
font-weight: 900;
color: bisque;
border-radius: 90px;
border:8px solid #252525;
outline: 0;
background: linear-gradient(225deg, #212121, #282828);
box-shadow:  -41px 41px 100px #1b1b1b,
             41px -41px 100px #2f2f2f;
}

button:after{
    
    
}